<div class="container">    
    <div class="row mt-3">
        <div class="col-lg-6">
            <h3>Listado de Contactos</h3>
        </div>
        <div class="col-lg-6">
            <button class="btn btn-primary float-end" routerLink="/contact/agregar">Nuevo Contacto</button>
        </div>
    </div>

    <table *ngIf="listContactos.length > 0" class="table table-hover mt-3">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Numero</td>
                <td>Email</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contacto of listContactos">
                <td>
                    <a [routerLink]="['/contact/ver', contacto.id]">{{contacto.name}}</a>                
                </td>
                <td>{{contacto.number}}</td>
                <td>{{contacto.email}}</td>
                <td>
                    <button [routerLink]="['/contact/editar', contacto.id]" class="btn btn-primary btn-sm float-end">Editar</button>
                </td>
                <td>
                    <button (click)="eliminarContact(contacto.id)" class="btn btn-danger btn-sm float-end">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="listContactos.length == 0" class="row mt-5">
        <h5>No Hay Contactos para mostrar</h5>
    </div>
</div>