
<div class="container">
    <h3 class="mt-3">{{ accion }} Contacto</h3>

    <form [formGroup]="agregarContact" (ngSubmit)="agregarEditarContacto()">
        <div class="mb-3"> 
            <label for="nombre " class="form-label">Nombre</label>
            <input formControlName="name" type="text" class="form-control" id="nombre" placeholder="Nombre">
        </div>
        <div class="mb-3">
            <label for="numero " class="form-label">Numero</label>
            <input formControlName="number" type="text" class="form-control" id="numero" placeholder="Numero">
        </div>
        <div class="mb-3">
            <label for="email " class="form-label">Email</label>
            <input formControlName="email" type="text" class="form-control" id="numero" placeholder="Email">
        </div>
        <button type="submit" class="btn btn-primary float-end">Aceptar</button>
        <button type="button" routerLink="/contact/" class="btn btn-secondary">Volver</button>
    </form> 
</div>