<div class="titulo">
  <h3>INICIAR SESION</h3>
</div>

<div class="container">
  <div class="contact_form">
    <form (ngSubmit)="login(form)" #form="ngForm">

      <p>
        <label for="userName">UserName</label>

        <input type="userName" name="userName" id="userName" autocomplete="userName" placeholder="ingresa tu userName"
          [(ngModel)]="authData.userName" #email="ngModel">
      </p>

      <p>
        <label for="password">Password</label>

        <input type="password" name="password" id="password" autocomplete="current-password"
          placeholder="Ingresa tu contraseña" [(ngModel)]="authData.password" [required]="true" #password="ngModel">
      </p>

      <button type="submit" [disabled]="form.invalid">Ingresar</button>
      <button type="button" [routerLink]="['/register']">¿No estás registrado? Regístrate</button>

    </form>
  </div>
</div>
