<div class="inicio-sesion">

  <div id="fondo-inicio-sesion">

    <section id="title">
      <h1>Iniciar Sesión</h1>
    </section>

    <section id="form-iniciar-sesion">
      <div class="container">

        <form (ngSubmit)="login(form)" #form="ngForm">
          <div class="inputs">
            <label for="userName">UserName</label>

            <input type="userName" name="userName" id="userName" autocomplete="userName" placeholder="ingresa tu userName"
              [(ngModel)]="authData.userName" #email="ngModel">
          </div>

          <div class="inputs">
            <label for="password">Password</label>

            <input type="password" name="password" id="password" autocomplete="current-password" placeholder="Ingresa tu contraseña"
              [(ngModel)]="authData.password" [required]="true" #password="ngModel"
            >
          </div>

          <div>
            <button type="submit" [disabled]="form.invalid">Ingresar</button>
            <button type="button" [routerLink]="['/registrarse']">Registrarme</button>
          </div>
        </form>

      </div>
    </section>
  </div>
</div>